<section class="bg-light min-h-screen">
  <div class="px-40 mt-20 relative">
    <input
      type="text"
      class="w-full p-3 bg-gray-300 bg-opacity-50 h-14 rounded-full focus:outline-none pl-16"
      placeholder="Search scheme by scheme name or keyword..."
    />
    <img
      src="../../assets/globalsearch.svg"
      class="absolute top-1/2 -translate-y-1/2 pl-4 w-10"
      alt=""
    />
  </div>
  <div>
    <p class="text-3 font-bold pl-40 mt-12">
      State Government Schemes - <span class="scheme">Tamilnadu</span>
    </p>
  </div>
  <div class="px-40 mt-20">
    <div class="rounded-md bg-indigo-600">
      <p class="text-center text-white px-20 py-10">
        Education related schemes
      </p>
    </div>
  </div>
</section>
