input,
textarea,
select {
  padding: 0.8em;
  outline: none;
  padding-left: 2rem;
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transition: all 0.4s ease;
}

textarea {
  padding-right: 5.5rem;
}
input::placeholder {
  padding-left: 6.5rem;
  font-size: 0.8rem;
}

.add-field {
  box-shadow: 6px 6px 6px #c5c5c5a0, -6px -6px 6px #ffffff;
}

button {
  box-shadow: 3px 3px 4px #a5a5a589, -6px -6px 4px #ffffff;
}

button:hover {
  transform: translateY(-1px);
}

label {
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(183, 183, 183);
  z-index: 999;
}

:is(input:focus) ~ label,
:is(textarea:focus) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0;
  margin-left: 10px;
  padding: 0.1rem 0.5rem;
  text-shadow: 2px 2px 10px #eeeeee;
  font-size: 14px;
}

:is(textarea:valid, input:valid) ~ label {
  opacity: 0;
}

:is(input:focus, input:valid),
:is(textarea:focus, textarea:valid) {
  border-color: rgb(150, 150, 200);
}

button:hover .span-mother {
  position: absolute;
}

button:hover .span-mother span {
  transform: translateY(1.2em);
}

button:hover .span-mother span {
  transform: translateY(1.2em);
}

button .span-mother span:nth-child(1) {
  transition: 0.2s;
}

button .span-mother span:nth-child(2) {
  transition: 0.3s;
}

button .span-mother span:nth-child(3) {
  transition: 0.4s;
}

button .span-mother span:nth-child(4) {
  transition: 0.5s;
}

button .span-mother span:nth-child(5) {
  transition: 0.6s;
}

button .span-mother span:nth-child(6) {
  transition: 0.7s;
}

button .span-mother2 span {
  transform: translateY(-1.2em);
}

button:hover .span-mother2 span {
  transform: translateY(0);
}

button .span-mother2 span {
  transition: 0.2s;
}

button .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}

button .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}

button .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}

button .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}

button .span-mother2 span:nth-child(6) {
  transition: 0.7s;
}

select {
  appearance: none;
  opacity: 0.7;
  background: url(../../assets/down.svg) 98.7% 55% / 0.8rem no-repeat;
}
