<section class="bg-light" style="min-height: 92vh">
  <div class="flex flex-col py-20 home_container">
    <div
      class="flex items-center justify-between relative px-10 text-image-container"
    >
      <div>
        <p class="text-9 home_header mt-20 font-black">
          State<br />
          Government<br />
          <span class="font-black scheme"> SCHEMES</span>
        </p>
      </div>

      <div class="box-1 relative">
        <img src="../../assets/govt_building.png" alt="" class="home_img" />
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-10 p-20 text-2 schemes_page_content">
    <p>
      The state government of the concerned state launched various schemes and
      campaigns for the welfare of the people of the states.
    </p>
    <p>
      State government Schemes are schemes that are implemented by state
      governments of India and funded by the State Government.
    </p>
    <p>
      We have covered collection of schemes implemented by the Tamilnadu
      Government as of now. We will soon update the portal with the schemes
      which are implemented by multiple states in India.
    </p>
  </div>

  <div class="pb-20 px-20">
    <p
      class="px-8 py-3 text-1.5 rounded-full text-center text-white cursor-pointer schemes_btn"
      routerLink="/scheme-category"
    >
      Click here to see list of schemes impletemented and funded by Tamilnadu
      state government
    </p>
  </div>
</section>
