.scheme {
  background: linear-gradient(188.96deg, #7c61e4 42.23%, #6d41cd 64.36%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #7c61e4;
}

.home_header {
  // font-family: "Nova Flat", cursive;
  line-height: 1.3;
  animation: headerAnim 1s forwards 0.3s;
  opacity: 0;
  -webkit-text-stroke-color: black;
}

@keyframes headerAnim {
  from {
    opacity: 0;
    margin-left: -50%;
  }
  to {
    margin-left: 0;
    opacity: 1;
  }
}

.home_img {
  position: relative;
  animation: homeImg 1s forwards 0.3s;
  opacity: 0;
  top: 0;
  z-index: 9999;
}

.box-1 {
  width: 35rem;
}

.box-1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200%;
  width: 80%;
  background: linear-gradient(
    180deg,
    rgba(124, 97, 228, 0.7) 0%,
    rgba(108, 64, 204, 0.7) 100%
  );
  z-index: 0;
  border-radius: 272px 272px 269px 269px;
  animation: homeImgBg 1s forwards 0.3s;
  opacity: 1;
}

@keyframes homeImgBg {
  from {
    top: -50%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes homeImg {
  from {
    right: -40%;
    opacity: 0;
  }
  to {
    right: 0%;
    opacity: 1;
  }
}

.schemes_btn {
  background: #6d41cdc7;
  transition: all ease 0.5s;
}

.schemes_btn:hover {
  background: #7c60e3;
}

// MEDIA QUERY

@media only screen and (max-width: 1250px) {
  .box-1 {
    width: 30rem;
  }
}

@media only screen and (max-width: 1140px) {
  .box-1 {
    width: 27rem;
  }
  .home_header {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 1020px) {
  .box-1 {
    display: none;
  }
  .home_header {
    text-align: center;
    margin-top: 2rem;
  }
  .text-image-container {
    display: block;
  }

  .home_container {
    margin-top: 0;
    justify-content: center;
  }
  .schemes_page_content {
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .home_container {
    padding-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .home_header {
    font-size: 7rem;
  }
  .home_container {
    padding-top: 0;
  }
}

@media only screen and (max-width: 530px) {
  .home_container {
    height: max-content !important;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 465px) {
  .home_header {
    white-space: normal;
    font-size: 6rem;
  }
}

@media only screen and (max-width: 400px) {
  .home_header {
    white-space: normal;
    font-size: 5rem;
  }
}
