<section class="bg-light">
  <div class="flex gap-36 p-10">
    <div>
      <p class="font-black">SCHEMES-IN</p>
    </div>
    <div class="navBar">
      <ul class="flex gap-20 font-black">
        <li routerLink="" class="cursor-pointer">Home</li>
        <li routerLink="" class="cursor-pointer">About us</li>
        <li routerLink="/schemes" class="cursor-pointer">Schemes</li>
        <li routerLink="" class="cursor-pointer">Help</li>
        <li routerLink="/add-scheme" class="cursor-pointer">Add Scheme</li>
      </ul>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</section>
