.scheme {
  background: linear-gradient(188.96deg, #7c61e4 42.23%, #6d41cd 64.36%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 600px) {
  .scheme_list {
    padding: 1rem 3rem;
  }
}
