@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  font-size: 100%;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

@media only screen and (max-width: 1530px) {
  html {
    font-size: 90%;
  }
}

@media only screen and (max-width: 1430px) {
  html {
    font-size: 87%;
  }
}

@media only screen and (max-width: 1170px) {
  html {
    font-size: 80%;
  }
}
