<!-- HOME SECTION -->

<section class="bg-light">
  <div class="mt-10">
    <div class="flex items-center px-20">
      <p class="text-9 home_header w-4/6 mt-20 font-black">
        Collection of <span class="font-black scheme"> SCHEMES</span> at
        <br />
        one place
      </p>

      <div class="w-1/6">
        <div class="box-1">
          <img src="../../assets/home_page.png" alt="" class="home_img" />
        </div>
        <div class="home-img-bg"></div>
      </div>
    </div>
  </div>
  <div
    class="place-items-baseline relative flex items-center px-20 info-container mt-8"
  >
    <p class="text-6 font-bold text-gray-400 info-font">Info</p>
    <span class="divider"></span>
    <p class="ml-16 w-2/6 mt-4 font-semibold">
      Liberty cannot be preserved without a general knowledge among the people,
      who, have a right… and a desire to
      <span class="scheme">know...</span>
    </p>
  </div>
</section>

<!-- SCHEMES SECTION -->

<section class="bg-light pt-20 px-20 min-h-screen schemes_section">
  <p class="text-9 border-b-2 border-spacing-9 border-black font-bold">
    Schemes
  </p>
  <div class="relative w-full min-h-max">
    <div class="absolute right-40 top-20 flex justify-end gap-40">
      <p class="text-4 font-bold">Types of <br />schemes</p>
      <div class="w-4/12 -mr-8 scheme_content">
        <p class="text-1.5">
          Schemes are launched for the purpose of improving the livelihood of
          the people and providing security for leading a better life.
        </p>
        <p class="mt-8 text-1.5">
          Each scheme is launched to provide benefits to the individual in
          certain areas of their life.
        </p>
        <p class="mt-8 text-sm text-gray-600">
          Schemes have been basically of three-types depending upon funding &
          implementing agencies.
        </p>
        <ul class="mt-8 text-sm min-w-max text-gray-400">
          <li class="text-2 border-b-2 border-black pb-4">
            01 <span class="ml-4"> Centrally Sponsored Schemes</span>
          </li>
          <li class="text-2 border-b-2 border-black mt-3 pb-4">
            02 <span class="ml-4">Central Sector Schemes</span>
          </li>
          <li class="text-2 border-b-2 border-black mt-3 pb-4 text-gray-600">
            03
            <span
              class="text-black ml-4 state-govt font-medium cursor-pointer"
              routerLink="/schemes"
              >State Government Schemes</span
            >
          </li>
        </ul>
        <p class="mt-10 text-gray-400">
          *Note: As of now schemes has been only implemented for Tamilnadu state
          government
        </p>
      </div>
    </div>
  </div>
  <div>
    <img
      src="../../assets/scheme_page.png"
      alt=""
      style="width: 48rem"
      class="mt-80 -ml-10 scheme_page_img"
    />
  </div>
</section>

<!-- ABOUT SECTION -->

<section class="bg-dark min-h-screen pt-10 px-20">
  <p
    class="text-9 border-b-2 border-spacing-9 border-white font-bold text-white"
  >
    About us
  </p>

  <div class="mt-20 text-white text-2 w-5/6">
    <p>
      The site intends to provide free knowledge/ information related to
      government schemes, that can help people to understand about the available
      schemes in India.
    </p>
    <p class="mt-14">
      The vision of the portal is to consolidate all the relevant information
      related to the Tamilnadu government schemes.
    </p>
  </div>
  <div class="mt-10 flex justify-evenly gap-48 pb-10">
    <div class="flex text-white items-center gap-10">
      <img class="w-44" src="../../assets/rocket.png" alt="" />
      <p class="text-1.5 -ml-4 w-3/6">We are bootstraped organization</p>
    </div>

    <div class="flex text-white items-center gap-10">
      <img class="w-40" src="../../assets/target.png" alt="" />
      <p class="text-1.5 -ml-4 w-3/6">
        Our mission is to make our clients succeed and sustain
      </p>
    </div>
  </div>
</section>

<!-- HELP SECTION -->

<section class="bg-light min-h-screen pt-10 px-20">
  <p class="text-9 border-b-2 border-spacing-9 border-black font-bold">
    Help centre
  </p>
  <div class="mt-20 text-black text-1.5 flex gap-10 items-center">
    <div>
      <p>
        Everything you need to know about schemes and information, can’t find
        the details you looking for? Please fill in the below form to drop an
        email.
      </p>
      <p class="mt-10">
        We’ll get back to you as soon as possible with an answer.
      </p>
      <div class="mt-16">
        <form action="">
          <div class="flex gap-20">
            <div class="flex flex-col w-full gap-4">
              <label for="" class="text-gray-500">Name</label>
              <input
                type="text"
                class="p-3 rounded-full pl-8 text-1"
                placeholder="Enter your name..."
              />
            </div>
            <div class="flex flex-col w-full gap-4">
              <label for="" class="text-gray-500">Email</label>
              <input
                type="text"
                class="p-3 rounded-full pl-8 text-1"
                placeholder="Enter your email address..."
              />
            </div>
          </div>
          <div class="flex flex-col gap-4 mt-8">
            <label for="" class="text-gray-500">Message</label>
            <textarea
              class="rounded-2xl h-40 min-h-max max-h-40 pl-6 p-3 text-1"
              placeholder="Describe your query here briefly"
            ></textarea>
          </div>
        </form>
      </div>
    </div>
    <div>
      <img
        src="../../assets/help_page.png"
        style="width: 45rem; height: auto"
        alt=""
      />
    </div>
  </div>
  <div class="mt-14">
    <p
      class="send_btn px-8 py-3 bg-violet-400 inline rounded-full text-white text-1 hover:bg-opacity-80 cursor-pointer"
    >
      Send message
    </p>
  </div>
</section>

<footer
  class="bg-light flex justify-between px-20 items-center pt-32 pb-4 text-sm text-gray-700"
>
  <div class="flex flex-col gap-2">
    <p class="text-gray-500">Say Hello!</p>
    <p>admin@schemes-in.com</p>
  </div>
  <div>
    <p>IN-Schemes &#169; 2023</p>
  </div>
  <div>
    <p>Designed by AJ Designs & Developments</p>
  </div>
</footer>
